<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <p><a href="/sivu1">Sivu 1</a> | <a href="/sivu2">Sivu 2</a> | <a href="/logout">logout</a></p>
  <h1><%= title %></h1>
  <p>Session id on
    <%= sessid %>
  </p>
  <p>
    <% for(var i=0; i < data.length; i++) { 
      %>
     <li><%= data[i].name %> - <%= data[i].student_code %>
      }   
     <ul>
        <%
            console.log(Object.keys(data[i].grades));
            let grades = Object.keys(data[i].grades);
            var length = grades.length;
            console.log("here is a length" + length);
            for(var j=0; j < length; j++ ){
          %>
            <li> <%= grades[j].course_code %> - <%= grades[j].grade %>
          <% } %>
      </ul>
    </li>
   <% } %>
  </p>
</body>

</html>


