<!DOCTYPE html>
<html>
<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <p><a href="/sivu1">Sivu 1</a> | <a href="/sivu2">Sivu 2</a> | <a href="/logout">logout</a></p>
  <h1><%= title %></h1>
  <p>Session id on
    <%= sessid %>
  </p>
  <p>
    <ul>
       <% 
          var bullshit = JSON.stringify(data);
          console.log(bullshit)

          function parseData(obj){
            for (var key in obj){
             %> 
              <li> <%= (obj[key].student_code) %>  </li>
              <li> <%= (obj[key].name)  %> </li>
              <li> <%= (obj[key].email)  %> </li>
              <li> <%= (obj[key].study_points) %> </li>
              <ul>
              <%
              if (Object.keys(obj[key].grades).length != 0 ) {
                var grades = obj[key].grades;
                console.log(JSON.stringify(grades));
                for (var secondKey in grades){ 
                  if (grades[secondKey].course_code != undefined ) {
                  %>                   
                   <li> <%= grades[secondKey].course_code + " : " + grades[secondKey].grade %> </li> <%
                  }
                }
              }
              %> 
              </ul> <%
            }
          }
          parseData(data);
      %>  
      </ul>
    </p>
</body>

</html>


